body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Didact Gothic', sans-serif;
}
#side_nav {
  width: 250px;
  height: 100%;
  background-color: rgba(44, 48, 80, 0.7);
  position: fixed;
  border-right: 5px solid #575b7c;
  left: -243px;
  transition: all .2s ease;
  padding: 30px 20px;
  box-sizing: border-box;
}
#side_nav .icon {
  width: 70px;
  height: 70px;
  -webkit-background-size: contain;
  background-size: contain;
  border-radius: 10px;
  display: inline-block;
  margin: 14px 14px;
}
#side_nav .icon i {
  color: grey;
  position: absolute;
  bottom: 0;
  display: block;
}
#side_nav .icon i:first-child {
  left: 4px;
}
#side_nav .icon i:last-child {
  right: 4px;
}
#side_nav .fa-plus {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
#side_nav .fa-plus:hover {
  color: #cccbcb;
}
#side_nav #butt {
  display: block;
  width: 25px;
  height: 40px;
  background-color: rgba(44, 48, 80, 0.7);
  right: -25px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  border-radius: 0 4px 4px 0;
  font-size: 25px;
  line-height: 40px;
  color: white;
  cursor: pointer;
  z-index: 5;
}
#side_nav #butt:hover {
  color: #cccbcb;
}
#block_search {
  position: absolute;
  width: 400px;
  height: 45px;
  background-color: rgba(44, 48, 80, 0.7);
  color: white;
  left: 50%;
  margin-left: -200px;
  top: 70px;
  border: none;
  border-bottom: 5px solid #575b7c;
  font-size: 35px;
  outline: none;
  padding: 0px 10px 4px 10px;
  line-height: 40px;
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
}
#block_bg_images {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: transform 20s linear, opacity 3s linear;
  z-index: -100;
  opacity: 1;
}
#block_add_new_navicon {
  position: absolute;
  width: 400px;
  left: 50%;
  bottom: 30px;
  margin-left: -200px;
  background-color: rgba(44, 48, 80, 0.7);
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  transition: bottom .2s ease, opacity .2s ease;
}
#block_add_new_navicon input {
  text-align: center;
  width: 350px;
  padding: 0;
  font-size: 18px;
  margin: 0 auto;
  outline: none;
  border: none;
  margin: 15px 0;
  border-bottom: 3px solid #575b7c;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
#block_add_new_navicon input:first-child {
  font-size: 30px;
}
#block_add_new_navicon button {
  margin-top: 20px;
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
#block_add_new_navicon button:active {
  font-size: 13px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
#news_from_other_site {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 200px;
  background-color: rgba(44, 48, 80, 0.7);
  border-bottom: 3px solid #575b7c;
  left: 50%;
  margin-left: -300px;
  padding-bottom: 10px;
  transition: all .2s linear;
}
#news_from_other_site #site_tab {
  text-decoration: none;
  margin-top: -10px;
  margin-left: 10px;
  display: block;
  width: auto;
}
#news_from_other_site #site_tab #site_logo {
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  background-image: url('https://cdn0.vox-cdn.com/uploads/chorus_asset/file/7395361/favicon-64x64.0.ico');
  float: left;
}
#news_from_other_site #site_tab #site_name {
  color: white;
  line-height: 20px;
  margin-left: 10px;
  float: left;
}
#news_from_other_site #news_mini_titles {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  clear: both;
  overflow-y: scroll;
  overflow-x: hidden;
}
#news_from_other_site #news_mini_titles .mini_title {
  background-color: rgba(44, 48, 80, 0.7);
  border-bottom: 3px solid #575b7c;
  color: white;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
  margin-bottom: 20px;
}
#new_text_block {
  position: absolute;
  width: 700px;
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(44, 48, 80, 0.7);
  border-bottom: 3px solid #575b7c;
  left: 50%;
  top: 200px;
  margin-left: -350px;
}
