@color-sideNav-main: rgba(44, 48, 80, .7);
@color-sideNav-border: #575B7C;
@color-btn-hover: #CCCBCB;

body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Didact Gothic', sans-serif;
}
#side_nav{
	width: 250px;
	height: 100%;
	background-color: @color-sideNav-main;
	position: fixed;
	border-right: 5px solid @color-sideNav-border;
	left: -243px;
	transition: all .2s ease;
	padding: 30px 20px;
	box-sizing: border-box;
	.icon{
		width: 70px;
		height: 70px;
		// background-color: @color-sideNav-border;
		-webkit-background-size: contain;
		background-size: contain;
		border-radius: 10px;
		display: inline-block;
		margin: 14px 14px;
		i{
			color: grey;
			position: absolute;
			bottom: 0;
			display: block;
			&:first-child{
				left: 4px;
			}
			&:last-child{
				right: 4px;
			}
		}
	}
	.fa-plus{
		position: absolute;
		bottom: 30px;
		right: 30px;
		color: white;
		cursor: pointer;
		font-size: 20px;
		&:hover{
			color: @color-btn-hover;
		}
	}
	#butt{
		display: block;
		width: 25px;
		height: 40px;
		background-color: @color-sideNav-main;
		right: -25px;
		position: absolute;
		top: 50%;
		margin-top: -20px;
		border-radius: 0 4px 4px 0;
		font-size: 25px;
		line-height: 40px;
		color: white;
		cursor: pointer;
		z-index: 5;
		&:hover{
			color: @color-btn-hover;
		}
	}
}
#block_search{
	position: absolute;
	width: 400px;
	height: 45px;
	background-color: @color-sideNav-main;
	color: white;
	left: 50%;
	margin-left: -200px;
	top: 70px;
	border: none;
	border-bottom: 5px solid @color-sideNav-border;
	font-size: 35px;
	outline: none;
	padding: 0px 10px 4px 10px;
	line-height: 40px;
	box-sizing: border-box;
	font-family: 'Didact Gothic', sans-serif;
}
#block_bg_images{
	position: absolute;
	// background-image: url("../../img/bg's/1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	transition: transform 20s linear, opacity 3s linear;
	z-index: -100;
	opacity: 1;
}
#block_add_new_navicon{
	position: absolute;
	width: 400px;
	left: 50%;
	// top: 170px;
	bottom: 30px;
	margin-left: -200px;
	background-color: @color-sideNav-main;
	padding: 25px;
	box-sizing: border-box;
	text-align: center;
	// opacity: 0;
	transition: bottom .2s ease, opacity .2s ease;
	input{
		text-align: center;
		width: 350px;
		padding: 0;
		font-size: 18px;
		margin: 0 auto;
		outline: none;
		border: none;
		margin: 15px 0;
		border-bottom: 3px solid @color-sideNav-border;
		background-color: rgba(255,255,255, 0);
		color: white;
		&:first-child{
			font-size: 30px;
		}
	}
	button{
		margin-top: 20px;
		width: 70px;
		height: 25px;
		border: none;
		border-radius: 2px;
		outline: none;
		cursor: pointer;
		&:active{
			font-size: 13px;
			-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
			box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
		}
	}
}
#news_from_other_site{
	position: absolute;
	width: 600px;
	height: 400px;
	top: 200px;
	background-color: @color-sideNav-main;
	border-bottom: 3px solid @color-sideNav-border;
	left: 50%;
	margin-left: -300px;
	padding-bottom: 10px;
	transition: all .1s linear;
	#site_tab{
		text-decoration: none;
		margin-top: -10px;
		margin-left: 10px;
		display: block;
		width: auto;
		#site_logo{
			background-size: cover;
			background-position: center;
			width: 20px;
			height: 20px;
			background-image: url('https://cdn0.vox-cdn.com/uploads/chorus_asset/file/7395361/favicon-64x64.0.ico');
			float: left;
		}
		#site_name{
			color: white;
			line-height: 20px;
			margin-left: 10px;
			float: left;
		}
	}
	#news_mini_titles{
		width: 100%;
		height: 100%;
		padding: 30px;
		padding-bottom: 0;
		box-sizing: border-box;
		clear: both;
		overflow-y: scroll;
		overflow-x: hidden;
		.mini_title{
			background-color: @color-sideNav-main;
			border-bottom: 3px solid @color-sideNav-border;
			color: white;
			font-size: 20px;
			line-height: 30px;
			padding: 10px;
			margin-bottom: 20px;
			cursor: pointer;
		}
	}
}
#new_text_block{
	position: absolute;
	width: 700px;
	height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: @color-sideNav-main;
	border-bottom: 3px solid @color-sideNav-border;
	padding: 15px;
	box-sizing: border-box;
	left: 50%;
	top: 200px;
	margin-left: -350px;
	transition: all .1s linear;
	p{
		color: white;
		font-size: 20px;
		line-height: 30px;
		padding: 0 10px;
	}
}
a.fa-angle-left{
	position: absolute;
	cursor: pointer;
	font-size: 100px;
	color: white;
	opacity: 0.3;
	margin-left: -395px;
	top: 375px;
	left: 50%;
	transition: all .1s ease;
	&:hover{
		transform: scale(1.2);
		opacity: 1;
	}
}